<html>
	<head>
		<title>page</title>
		<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="/static/bootstrap/css/sidebar.css" rel="stylesheet">
		<script src="/static/js/jquery-2.1.4.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<ul class="nav navbar-nav">
				<li><a href="{% url 'main' %}">Glowna</a></li>
				<li><a href="{% url 'address' %}">Adresy</a></li>
				<li><a href="{% url 'room' %}">Pomieszczenia</a></li>
				{% if user.is_staff %}
					<li><a href="{% url 'user' %}">Uytkownicy</a></li>
				{% endif %}
				{% if user.is_authenticated %}
					<li><a href="{% url 'logout' %}">Wyloguj {{ user.get_username }}</a></li>
				{% else %}
					<li><a href="{% url 'login' %}?next={{ request.path }}">Zaloguj</a></li>
					<li><a href="{% url 'register' %}">Zarejestruj</a></li>
				{% endif %}
			</ul>
		</nav>
		<div class="container-fluid">
			{% block content %}{% endblock content %}
		</div>
	</body>
</html>
