{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block content %}
	<h1>{{ entry.signing }}</h1>
	<h2>{{ entry.name }}</h2>
	<h4>Data dodania - {{ entry.date_added }}</h4>
	<p>{{ entry.added_description }}</p>
	{% if entry.date_removed %}
		<h4>Data likwidacji - {{ entry.date_removed }}</h4>
		<p>{{ entry.removed_description }}</p>
	{% endif %}
	<h4>Ostatnia modyfikacja - {{ entry.last_modified }}</h4>
	{% if entry.room %}
		<h3>Pomieszczenie - <a href="{% url 'roomDetails' pk=entry.room.id %}">{{ entry.room }}</a></h3>
	{% endif %}
	<h3>Opis:</h3>
	<p>{{ entry.description }}</p>
	{% if not entry.date_removed %}
		{% if permissions.is_edit_allowed %}
			<a class="btn btn-default" href="{% url 'editEntry' pk=entry.getURL %}">Edytuj</a>
		{% endif %}
		{% if liquidation  %}
			<h4>Wniosek o likwidacje</h4>
			<a href="{% url 'liquidationDetails' pk=liquidation.id %}">{{ liquidation }}</a>
		{% else %}
			{% if permissions.is_liquidation and possible_liquidations %}
				{% for liq in possible_liquidations %}
					<div class="list-group">
						<a class="list-group-item" href="{% url 'liquidateEntry' epk=entry.getURL lpk=liq.id %}">Dodaj do wniosku o likwidacje {{ liq }}</a>
					</div>
				{% endfor %}
			{% endif %}
		{% endif %}
	{% endif %}
	<h3>Kod QR:</h3>
	<img src="{{ image }}"/>
	<h2>Historia</h2>
	{% render_table logs %}
{% endblock %}
