{% extends "base.html" %}

{% block content %}
	<h1>Wnioski o likwidacje</h1>
	{% if permissions.is_liquidation %}
		<a class="btn btn-default" href="{% url 'createLiquidation' %}">Stworz nowy wniosek</a>
	{% endif %}
	{% if incomplete_liquidations %}
		<h2>Niekompletne</h2>
		<div class="list-group">
			{% for liquidation in incomplete_liquidations %}
				<a class="list-group-item" href="{% url 'liquidationDetails' pk=liquidation.id %}">{{ liquidation }}</a>
			{% endfor %}
		</div>
	{% endif %}
	{% if pending_liquidations %}
		<h2>Oczekujace</h2>
		<div class="list-group">
			{% for liquidation in pending_liquidations %}
				<a class="list-group-item" href="{% url 'liquidationDetails' pk=liquidation.id %}">{{ liquidation }}</a>
			{% endfor %}
		</div>
	{% endif %}
	{% if completed_liquidations %}
		<h2>Wykonane</h2>
		<div class="list-group">
			{% for liquidation in completed_liquidations %}
				<a class="list-group-item" href="{% url 'liquidationDetails' pk=liquidation.id %}">{{ liquidation }}</a>
			{% endfor %}
		</div>
	{% endif %}
	{% if rejected_liquidations %}
		<h2>Odrzucone</h2>
		<div class="list-group">
			{% for liquidation in rejected_liquidations %}
				<a class="list-group-item" href="{% url 'liquidationDetails' pk=liquidation.id %}">{{ liquidation }}</a>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}
