{% extends "easy_pdf/base.html" %}

{% block extra_style %}
	<style type="text/css">
		h1, h2 { text-align: center }
		
		.text-right { text-align: right }
		
	</style>
{% endblock %}

{% block content %}
<h1>Wniosek o likwidacje</h1>
<table>
	<tr>
		<th>Oznakowanie</th>
		<th>Nazwa</th>
		<th>Data dodania</th>
		<th>Wartosc poczatkowa</th>
	</tr>
	{% for entry in entries %}
		<tr>
			<td>{{ entry.signing }}</td>
			<td>{{ entry.name }}</td>
			<td>{{ entry.date_added|date:"d/m/Y" }}</td>
			<td>{{ entry.added_value }}</td>
		</tr>
	{% endfor %}
</table>
{% endblock %}
