<html>
	<head>
		<style type="text/css">
			.grid {
				border-collapse: collapse;
				margin: 0cm;
			}
			
			.row {
				min-height: {{ cell.height }}cm;
				height: {{ cell.height }}cm;
				max-height: {{ cell.height }}cm;
			}
			
			.cell {
				text-align: center;
				min-width: {{ cell.width }}cm;
				width: {{ cell.width }}cm;
				max-width: {{ cell.width }}cm;
			}
			
			img {
				height: auto;
				max-height 80%;
				width: auto;
			}
		</style>
	</head>
	<body>
		<table class="grid">
			{% for row in grid %}
				<tr class="row">
					{% for cell in row %}
						<td class="cell">
							<div>
								<img src="{% url 'generateQr' pk=cell.getURL %}"/>
							</div>
							<div>
								<span>{{ cell.signing }}</span>
							</div>
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</table>
	</body>
</html>
