{% extends "easy_pdf/base.html" %}

{% block layout_style %}
	<style type="text/css">
		@page {
			size: "A4";
			margin-left: 0mm;
			margin-right: 0mm;
			margin-top: 0mm;
			margin-bottom: 0mm;
			
			@frame header {
				-pdf-frame-content: page-header;
				margin-left: 0mm;
				margin-right: 0mm;
				margin-top: 0mm;
				margin-bottom: 0mm;	
			}
		}
	</style>
{% endblock %}

{% block extra_style %}
	<style type="text/css">
		.grid {
			border-collapse: collapse;
			margin: 0cm;
		}
		
		.row {
			height: 37.0mm;
			max-height: 37.0mm;
		}
		
		.cell {
			text-align: center;
			height: 100%;
			width: 70.0mm;
			max-width: 70.0mm;
		}
	</style>
{% endblock %}

{% block content %}
	<table class="grid">
		{% for row in grid %}
			<tr class="row">
				{% for cell in row %}
					<td>
						<div class="cell">
							<div>
								<pdf:barcode value="{{ cell }}" type="qr" barwidth="50" barheight="50"/>
							</div>
							<div>
								<span>{{ cell }}</span>
							</div>
						</div>
					</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</table>
{% endblock %}
