{% extends "base.html" %}

{% block content %}
	<h1>Ustawienia</h1>
	<a class="btn btn-default" href="{% url 'settingsEdit' %}">Edytuj</a>
	<table class="table table-bordered table-condensed">
		<tr>
			<th>Domyslna instytucja</th>
			<th>Domyslna grupa</th>
			<th>Domyslne pomieszczenie</th>
			<th>Kolumny arkusza QR</th>
			<th>Szerokosc etykiety(mm)</th>
			<th>Wysokosc etykiety(mm)</th>
			<th>Offset pionowy</th>
		</tr>
		<tr>
			<td>
				{% if user_settings.default_institution %}
				{{ user_settings.default_institution }}
				{% else %}
					---
				{% endif %}
			</td>
			<td>
				{% if user_settings.default_group %}
					<a class="btn btn-default btn-block" href="{% url 'entryGroupDetails' pk=user_settings.default_group.id %}">{{ user_settings.default_group }}</a>
				{% else %}
					---
				{% endif %}
			</td>
			<td>
				{% if user_settings.default_room %}
					<a class="btn btn-default btn-block" href="{% url 'roomDetails' pk=user_settings.default_room.id %}">{{ user_settings.default_room }}</a>
				{% else %}
					---
				{% endif %}
			</td>
			<td>
				{{ user_settings.qr_columns }}
			</td>
			<td>
				{{ user_settings.qr_width }}
			</td>
			<td>
				{{ user_settings.qr_height }}
			</td>
			<td>
				{{ user_settings.qr_img_offset }}
			</td>
		</tr>
	</table>
{% endblock %}
